<div class=" a4-page" id="pdfTable" style=" width: 297mm;height: 210mm;margin: auto;padding: 10mm;
padding-top: 5mm;background-color: white;box-sizing: border-box;text-align: center;
border: 1px solid #dee2e6;border-radius: 0.25rem;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" #pdfTable>
  <div class="header" [ngStyle]="{ direction: 'rtl' }" style="display: flex;flex-direction: column;padding-bottom: 4mm;
  row-gap: 0.5rem;border-bottom: 1px solid black;">
    <span id="one" style="font-style: italic;font-size: 1.5rem;font-weight: bold;">بسم الله الرحمن الرحيم</span>
    <span id="two" style="font-weight: bold;">بسم الله توكلت على الله</span>
    <span id="three" style="font-weight: bold;font-size: 3rem;">مكتب تكسي التوبة للاندماج</span>
  </div>
  <div class="content" style="direction: rtl;display: flex;flex-direction: column;
  background-color: white;justify-content: space-between;padding-bottom: 1.5rem;margin-top: 1rem;">
    <div class="tittle" style=" display: flex;flex-direction: column;justify-content: center;align-items: center;
    row-gap: 0.5rem;font-weight: bold;font-size: 2rem;">
      <span>عطوفة مدير دائرة ترخيص السواقين والمركبات الأكرم</span>
      <span>الموضوع:شطب مركبة</span>
    </div>
    <div class="container" style="direction: rtl;margin-top: 1rem;row-gap: 0.5rem;">
      <span style="display: flex;padding-right: 7rem; font-stretch:extra-expanded;font-size: 2.5rem;">لا مانع لدى مكتب تكسي التوبة من شطب المركبة</span>
      <div class="type" style="display: flex;gap: 2rem;padding-right: 7rem;margin-top: 1rem;">

        <div>
          <label for="" style="font-size: 1.3rem;">التي تحمل رقم:</label>
          <label id="input" style="font-size: 1.3rem; border: none;
          border-bottom: 2px dotted black;
          width: 18rem;">{{carNumber}}</label>
        </div>
        <div>
          <label for="" style="font-size: 1.3rem;">نوع:</label>
          <label id="input" style="font-size: 1.3rem; border: none;
          border-bottom: 2px dotted black;
          width: 18rem;">{{carType}}</label>
        </div>

      </div>
      <div class="ownerName" style=" display: flex;
            padding-right: 7rem;margin-top: 1rem;">
        <label for="" style="font-size: 1.3rem;">والعائدة ملكيتها إلى السيد/</label>
        <label id="input" style=" border: none;
        border-bottom: 2px dotted black;
        width: 18rem;font-size: 1.3rem;">{{ownerName}}</label>
      </div>
      <div style="margin-top: 1rem;">
        <span style=" font-size: 2rem;display: flex;padding-right: 7rem;font-stretch:extra-expanded;">
          علما أن السيارة سددت جميع التزاماتها المالية للمكتب لغاية
        </span>

        <div class="date2" style=" display: flex;padding-right: 7rem;margin-top: 1rem;">
          <label for="" style="font-size: 1.3rem;">تاريخ:</label>
          <label id="input" style="font-size: 1.3rem; border: none;
          border-bottom: 2px dotted black;
          width: 18rem;">{{date | date : 'dd-MM-yyyy'}}</label>
        </div>


      </div>
      <div class="respect" style="margin-top: 2rem;">
        <label style="font-weight: bold;font-size: 2rem;">وتفضلوا بقبول فائق الاحترام</label>
      </div>
      <div class="owner" style="margin-right: 25rem;margin-top: 3rem;">
        <label for="" style="font-weight: bold;font-size: 2rem;"> صاحب مكتب تكسي التوبة للاندماج</label>



      </div>


    </div>
  </div>
</div>
<button class="btn btn-primary button1" style="margin-top: 0.5rem;" (click)="downloadAsPDF()" >
  Preview Report
</button>