<!-- <div class="header a5-page" id="pdfTable" #pdfTable >
  <div  [ngStyle]="{ direction: 'rtl' }">
    <span id="one">بسم الله الرحمن الرحيم</span>
    <div class="header-tittle">
      <div class="left">
        <span>Altawba For Transportation</span>
        <span>Abu Alanda Branch</span>
        <span>Amman-Jordan</span>
      </div>
      <div class="logo-container">
        <img src="../../../../assets/images/Altawba-logo.jpg" alt="">
      </div>
      <div class="right">
        <span>شركة التوبة للنقل</span>
        <span>فرع أبو علندا</span>
        <span>عمان-الأردن</span>
      </div>
    </div>

  </div>
  <div class="content">
    <span id="two">سند قبض</span>
    <div class="container">
      <form action="">
        <div class="date">
          <div>

            <label for=""> التاريخ:</label>
            <label id="input">{{ date | date : 'dd-MM-yyyy' }}</label>

          </div>
          <div>

            <label for="">رقم الوصل:</label>
            <label id="input">{{data.receiptNo}}</label>

          </div>
        </div>
        <div class="details">
          <div>

            <label for="">وصلني من السيد /السادة:</label>
            <label id="input">{{ (data.driver?.driverTranslation)![layoutService.config.lang]?.ownerName
              }}</label>

          </div>
          <div class="month">

            <div>
              <label for="">وذلك عن كمسيون واشتراك لشهر:</label>
              <label id="input">{{ data.month }}</label>
            </div>
            <div>
              <label for="">سنة</label>
              <label id="input">{{ data.year }}</label>
            </div>




          </div>
          <div>

            <label for="">لسيارة رقم :</label>
            <label id="input">{{ data.driver?.carNumber }}</label>

          </div>
          <div class="signature">

            <label for="">توقيع المستلم</label>
            <label id="input"></label>

          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="footer">
    <span>
      هاتف:1166893-006
    </span>
    <span>فاكس:0777303606</span>
    <span>ص-ب:11100928433</span>
    <span>عمان أبو علندا إسكان الكهرباء </span>
    <span>P,o:928433</span>
    <span>Fax:06-4165033</span>
    <span>Phone:06-4166893</span>

  </div>
  <button class="btn btn-primary" (click)="downloadAsPDF()">
    Preview Report
  </button> 
-->

 <div class="a5-page" id="pdfTable">
    <h1>A5 Page Layout</h1>
    <p>
      This content is styled to fit inside an A5-sized page. The dimensions for an A5 page are 148mm by 210mm.
    </p>
    <p>
      You can add more content here, and the layout will respect the A5 dimensions, making it perfect for printing or converting to a PDF in this format.
    </p>
  </div> 


    <button class="btn btn-primary" (click)="downloadAsPDF()">
      Preview Report
    </button> 

