

  
  @page {
    size: A4 landscape;
    margin: 0;
  }
  
  .body1 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    direction: rtl; /* Right-to-left direction for Arabic */
    background-color: #f8f9fa; /* Light background for better contrast */
  }
